python==3.12.7
absl-py==2.0.0
accelerate==0.27.2
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.16
annotated-types==0.6.0
anyio==4.3.0
anytree==2.12.1
arrow==1.3.0
asgiref==3.8.1
assemblyai==0.30.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bibtexparser==1.4.1
blinker==1.8.2
blis==0.7.11
boto3==1.34.59
botocore==1.34.59
bpemb==0.3.4
bs4==0.0.2
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cmdstanpy==1.2.4
colorama==0.4.6
confection==0.1.4
conllu==4.5.3
contourpy==1.2.0
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
datasets==2.18.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distro==1.9.0
Django==4.2.16
docopt==0.6.2
docutils==0.20.1
editdistance==0.8.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.1.0
fake-useragent==1.5.1
filelock==3.13.1
flair==0.13.1
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.49.0
free-proxy==1.1.1
frozenlist==1.4.1
fsspec==2023.12.2
ftfy==6.1.3
gast==0.5.4
gdown==5.1.0
gensim==4.3.2
geographiclib==2.0
geopy==2.4.1
git-filter-repo==2.45.0
google-api-core==2.15.0
google-api-python-client==2.133.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-language==2.12.0
google-cloud-speech==2.26.1
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
gspread==6.1.2
h11==0.14.0
h5py==3.10.0
hdbscan==0.8.39
holidays==0.51
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.20.1
ibm-cloud-sdk-core==3.20.3
ibm-watson==8.1.0
idna==3.6
imagesize==1.4.1
imbalanced-learn==0.12.2
importlib-metadata==7.0.1
importlib_resources==6.1.3
ipython==8.18.1
itsdangerous==2.2.0
Janome==0.5.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpickle==3.3.0
keras==2.15.0
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
language-tool-python==2.7.1
lemminflect==0.2.3
libclang==16.0.6
lru-dict==1.3.0
lxml==5.1.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.3
matplotlib-inline==0.1.7
ml-dtypes==0.2.0
more-itertools==10.2.0
mpld3==0.5.10
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
networkx==3.2.1
nltk==3.8.1
num2words==0.5.13
numpy==1.26.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.0
openalexapi==0.0.1a0
OpenHowNet==2.0
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
parso==0.8.4
patsy==0.5.6
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.2.0
pinyin==0.4.0
plotly==5.22.0
pptree==3.1
preshed==3.0.9
prompt_toolkit==3.0.48
prophet==1.1.5
proto-plus==1.23.0
protobuf==4.23.4
psutil==5.9.8
pure_eval==0.2.3
purl==1.6
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycparser==2.22
pydantic==1.10.2
pydantic_core==2.14.6
Pygments==2.18.0
pygsheets==2.0.6
PyJWT==2.8.0
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-louvain==0.16
pytorch_revgrad==0.2.0
pytrends==4.9.2
pytz==2023.3.post1
pyvis==0.3.2
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.1
scholarly==1.7.11
scikit-learn==1.3.2
scipy==1.11.4
segtok==1.5.11
selenium==4.21.0
semver==3.0.2
sentence-transformers==3.1.1
sentencepiece==0.1.99
seqeval==1.2.2
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sqlitedict==2.1.0
sqlparse==0.5.1
srsly==2.4.8
stack-data==0.6.3
stanfordnlp==0.2.0
stanio==0.5.0
statsmodels==0.14.2
sympy==1.12
tabulate==0.9.0
tenacity==8.4.1
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminaltables==3.1.10
textattack==0.3.10
thinc==8.2.2
threadpoolctl==3.2.0
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.2
tqdm==4.66.1
traitlets==5.14.3
transformer-smaller-training-vocab==0.3.3
transformers==4.38.2
trio==0.25.1
trio-websocket==0.11.1
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.2.2
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
Wikipedia-API==0.6.0
word2number==1.1
wrapt==1.14.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
Flask==3.0.3
gunicorn==20.1.0
sentence-transformers==3.1.1
hdbscan==0.8.39
requests==2.31.0
openai==0.27.0
Werkzeug==3.0.1

